{
  "extends": [
    "plugin:react/recommended"
  ],  
    "parserOptions": {
        "ecmaVersion": 2021,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
      "react/prop-types": 0,
        "semi": "off",
        "indent": ["error", "tab"],
        "no-multiple-empty-lines": [
            "error",
            {
              "max": 1,
              "maxEOF": 1
            }
          ], 
          "max-len": [
            2,
            250
          ]              
    }
}